/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
    }
    /*
    2. Remove default margin
    */
    
    * {
    margin: 0;
    padding: 0;
    }
    /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
    */
    body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    }
    /*
    5. Improve media defaults
    */
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }
    /*
    6. Remove built-in form typography styles
    */
    input, button, textarea, select {
    font: inherit;
    }
    /*
    7. Avoid text overflows
    */
    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }
    /*
    8. Create a root stacking context
    */
    #root, #__next {
    isolation: isolate;
    }


body {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
}
.overview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.all-cocks,
.all-eggs,
.all-hens {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 10px;
}

body div {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.add-new-hen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.list-of-all-hens,
.nowa-kura {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
    gap: 8px;
}

select,
input {
    min-height: 2.1875rem;
    padding-inline: .3125rem;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 8px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.button-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;
    width: 30px;
    height: 30px;
    border: none;
}

input:focus {
    border: 3px solid #555;
}

h3 {
    padding: 0;
    margin: 0;
}