@import "./resets.css";

header {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
}

.overview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.died-hens,
.died-roosters,
.all-nestlings,
.all-roosters,
.all-laid-eggs,
.all-hens,
.collected-eggs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 10px;
}

.all-animals {
    display: flex;
}

.add-new-hen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.all-animals {
    width: 100%;
}

.list-of-all-hens,
.list-of-all-roosters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 1;
}

.input-fileds {
    display: flex;
    flex-direction: row;
    gap: 1rem
}

.input-button input {
    width: 3.125rem;
}

select {
    min-height: 2.1875rem;
    padding-inline: .3125rem;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 8px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input {
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 4px 8px;
    min-height: 28px;
    vertical-align: middle;
    transition: background-color .24s,box-shadow .24s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.24s, 0.24s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    &:focus-visible{
        box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    }
                
}

.break-btn {
    z-index: 2000;
}

.is-break {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.button-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;
    width: 30px;
    height: 30px;
    border: none;
}

select,
button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 2px solid rgb(58 151 212 / 36%);
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;
    &:hover {
        box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;

        background: #f7f7f7;
    }   
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: inherit;
  box-shadow: none;
}

form {
    display: flex;
    align-items: center;
}

h3 {
    padding: 0;
    margin: 0;
}