@import "./resets.css";

header {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
}

.overview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.all-nestlings,
.all-roosters,
.all-laid-eggs,
.all-hens,
.collected-eggs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 10px;
}

.all-animals {
    display: flex;
}

.add-new-hen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.all-animals {
    width: 100%;
}

.list-of-all-hens,
.list-of-all-roosters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 1;
}

.input-fileds {
    display: flex;
    flex-direction: row;
    gap: 1rem
}

.input-button input {
    width: 3.125rem;
}

select,
input {
    min-height: 2.1875rem;
    padding-inline: .3125rem;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 8px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.break-btn {
    z-index: 2000;
}

.is-break {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.button-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;
    width: 30px;
    height: 30px;
    border: none;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;
    &:hover {
        border-color: #000000;
        background: #f7f7f7;
    }   
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: inherit;
}

input:focus {
    border: 3px solid #555;
}

form {
    display: flex;
    align-items: center;
}

h3 {
    padding: 0;
    margin: 0;
}